
body { 
font-family: Helvetica;
background-color: Gold;
} 
h1 {
text-align: center;
font-family: Helvetica;
color: red;
} 
h2{
font-family: Helvetica;
color: Blue;
text-align: center;
}	